.DS_Store
.rpc
.secret
.deps
.env
.vscode
artifacts
npm-debug.log
/.idea/*
/.vscode/*
/node_modules/*
*typechain*/
cache/*
coverage/*
metadata/*
coverage.json
mochawesome-report
indexer_qa_service/validation_results.json
