.DS_Store
.rpc
.secret
.deps
.env
.vscode
artifacts
npm-debug.log
remix-compiler.config.js
/reports/test_contracts.json
/.idea/*
/.vscode/*
/node_modules/*
coverage/*
metadata/*
coverage.json
build/contracts/PRBMath*.json
build/contracts/*Structs*.json
build/contracts/*Errors*.json
build/contracts/IERC734Extended.json
build/contracts/Shares.json
build/contracts/UnorderedIndexableContractDynamicSetLib.json
build/contracts/UnorderedNamedContractDynamicSetLib.json
build/contracts/AccessControl.json
build/contracts/Address.json
build/contracts/ByteArr.json
build/contracts/Context.json
build/contracts/ERC20.json
build/contracts/ERC20Burnable.json
build/contracts/ERC165.json
build/contracts/ERC721.json
build/contracts/ERC734.json
build/contracts/IAccessControl.json
build/contracts/IERC20.json
build/contracts/IERC20Metadata.json
build/contracts/IERC165.json
build/contracts/IERC721.json
build/contracts/IERC721Metadata.json
build/contracts/IERC721Receiver.json
build/contracts/MerkleProof.json
build/contracts/Migrations.json
build/contracts/Ownable.json
build/contracts/Strings.json
