{
  "*.{json,js,ts,sol}": [
    "prettier --write"
  ],
  "*.{js,ts}": [
    "eslint --fix"
  ],
  "*.sol,!contracts/{utils/*.sol,Guardian.sol,TraceLabsMultiSigWallet.sol}": [
    "solhint --write"
  ]
}
