{
  "printWidth": 80,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "trailingComma": "all",
  "quoteProps": "as-needed",
  "semi": true,
  "plugins": ["prettier-plugin-solidity"],
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "parser": "solidity-parse",
        "singleQuote": false,
        "printWidth": 120,
        "tabWidth": 4,
        "useTabs": false,
        "bracketSpacing": false
      }
    }
  ]
}
